$green: #83b93f;
$green--dark: color($green b(42%));
$grey: #828080;
$grey--light: color($grey l(90%));
$grey-2: #827f7f;
$facebook: #3b5998;
$instagram: #3f729b;
$pinterest: #bd081c;
$twitter: #55acee;
$houzz: #55a32a;
$googleplus: #dd4b39;

$androgyne: "Androgyne Medium",Arial,sans-serif;
$myndraine: "myndraineregular",Arial,sans-serif;
$baskerville: 'Libre Baskerville', serif;
$lobster: 'Lobster', cursive;

$screen-l: 1200px;
$screen-m: 960px;
$screen-s: 768px;
$screen-xs: 480px;

$header-height: 200px;
$footer-height: 50px;
