#realisations, #terrains{
	.lost{
		> div{
			lost-column: 1;
			@media only screen and  (min-width: 960px) {
				lost-waffle:1/4 4 2em;
			}
		}
	}
}
.real__slider__wrapper{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    z-index: 10;
}
.real__slider__wrapper--active{
	display: block;
}
.real__slider{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	img{
    	position: relative;
	    top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
		@media screen and (orientation: portrait) {
			max-width: 85vw;
		}
		@media screen and (orientation: landscape) {
			max-height: 85vh;
		}
	}
}
.slick-list, .slick-track{
	height: 100%;
}
.real__img{
	overflow: hidden;
	img{
		width: 100%;
		margin: -999em -100%;
	}
	&:before, > img{
		display: inline-block;
		vertical-align: middle;
	}
	&:before{
		content: "";
		padding-top: 63%;
	}
}

.real{
	background-color: #fff;
	min-height: 350px;
	margin-bottom: 2em;
}

.real__img{
	margin-left: -2px;
	position: relative;
	cursor: pointer;
	&:after{
		content: "";
		height: 100%;
		width: 100%;
		transition: all 0.5s ease-out;
    	background-color: rgba(210, 210, 210, 0.4);
		position: absolute;
	}
	&:hover:after{
		transition: all 0.16s ease-in;
		background-color: rgba(210, 210, 210, 0);
	}
}

.real__infos{
	padding: 0 0.7em 1em;
}

$zoom-color: #fff;

.zoom{
	width: 20px;
	height: 20px;
	border: 4px solid $zoom-color;
	background-color: transparent;
	position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 15px);
    border-radius: 20px;
}
.zoom:after,
.zoom:before{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
    height: 2px;
    width: 15px;
    border-radius: 5px;
    background-color: $zoom-color;
}
.zoom:before{
	transform: rotate(90deg);	
}
.zoom__tail{
    width: 17px;
    height: 4px;
    border-radius: 5px;
    background-color: $zoom-color;
    display: block;
    position: absolute;
    left: 90%;
    top: 80%;
    transform-origin: left;
    transform: rotate(45deg);
}